body {
    margin: 0px;
    /* font-family: , sans-serif; */
    font-family: "Segoe UI", sans-serif;
}

.container {
    display: grid;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(158, 30, 30);
    box-shadow: 0 4px 4px 1px rgba(0,0,0,.2);
}

.brand-container {
    display: flex;
    height: 20px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.navbar > .brand-container > div {
    margin-right: 20px;
    color: rgb(252, 223, 229);
    font-size: 0.9em;
    text-transform: uppercase;
}

.navlinks-container {
    display: flex;
}

.navbar > .navlinks-container > div {
    margin-left: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navlink-container {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.7s;
}

.navlink-container a{
    color: white;
    opacity: 0.7;
    text-decoration: none;
}

.navlink-container a:hover{
    opacity: 1;
    transition: opacity 0.7s;
}

.navlink-container:hover {
    border-bottom: 1px solid white;
}
